.contact-form {
  max-width: 600px !important;
  margin: 10px auto 100px;
  padding: 33px 37px 43px !important;
  background: var(--glass-bg);
  border: var(--glass-border);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 25px;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease;
}

form input,
form textarea {
  border: none !important;
  transition: all 0.2s ease;
  backdrop-filter: blur(4px);
  border-radius: 18px !important;
}

form input:focus,
form textarea:focus {
  box-shadow: 0 0 0 0.15rem rgba(179, 88, 67, 0.25) !important;
  border: none;
}

.contact-btn {
  background-color: var(--color-accent) !important;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 25px;
  color: white;
  border: none;
}

.contact-btn:hover {
  background-color: #854031;
  color: white;
}

.is-invalid {
  border: solid var(--color-error) 1px !important;
  box-shadow: none !important;
}

.is-valid {
  border: solid var(--color-success) 1px !important;
  box-shadow: none !important;
}

.invalid-feedback {
  color: var(--color-error);
}
