.image-detail {
  border-radius: 25px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.tags {
  background-color: white;
  border-radius: 20px;
  padding: 5px 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
  font-size: 1.1rem;
}

.rating {
  font-size: 1.2rem;
}

.add-btn {
  background-color: var(--color-accent);
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 25px;
  border: none;
  color: white;
}

.add-btn:hover {
  background-color: #854031;
  color: white;
}

.error-color {
  background-color: var(--color-error);
}

.reviews-box {
  background-color: white;
  border-radius: 25px;
  padding: 9px 0px 9px 13px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
}
