.tags {
  background-color: #f1f1f1;
  color: var(--color-text);
  border-radius: 15px;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  margin-right: 5px;
}

.add-btn {
  background-color: var(--color-accent);
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 25px;
}

.add-btn:hover {
  background-color: #e2527e;
  color: white;
}

.error-color {
  background-color: var(--color-error);
}
