.checkout-success {
  max-width: 800px;
  margin: 10px auto;
  padding: 70px 0;
}

.text-success {
  font-size: 60px;
}

.navigate-btn {
  background-color: var(--color-accent);
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 25px;
  border: none;
  color: white;
}

.navigate-btn:hover {
  background-color: #854031;
  color: white;
}
